
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MasterData.Caution.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Mervalito.MasterData.CautionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>