
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MasterData.TitleType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Mervalito.MasterData.TitleTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>