
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MutualFund.MutualFund.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Mervalito.MutualFund.MutualFundGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>